<header>
    <h1>This is the SignUp Page</h1>
</header>
{{error}}
<div>
    <form method="POST" action="/signUp"  id="signup-form">
        <label>Username:</label>
            <input name="username" id="username">
        <label>Password:</label>
            <input name="password" id="password" type="password">
        <input type="submit">
    </form>
</div>
<a href="/">Already have an account? Click here to log-in</a>

